.main-bar
  .main-bar__header
    .main-bar__header__left
      .main-bar__header__left__a
        header-sample
      .main-bar__header__left__b
        Members neko
    .main-bar__header__right
      edit
  .main-bar__contents
    .main-bar__contents__main
      .main-bar__contents__main__above
        .main-bar__contents__main__above__a
          test-user
        .main-bar__contents__main__above__b
          2019/11/25/15:14
      .main-bar__contents__main__below
        こんにちは
  .main-bar__footer
    .main-bar__footer__left
      %input.main-bar__footer__left__text{placeholder: "type a message", type: "text"}
      %label.main-bar__footer__left__image
        = icon('fa', 'image')
        %input.main-bar__footer__left__file{type: "file"}
    .main-bar__footer__right
      %input.main-bar__footer__right__btn{type: "submit",value: "Send"}