.side-bar
  .side-bar__header-side
    .side-bar__header-side__name
      header-seo
    .side-bar__header-side__btn
      =link_to "#", class: "side-bar__header-side__btn1" do
        = icon('fa', 'edit')
      =link_to "#", class: "side-bar__header-side__btn1" do
        = icon('fa', 'cog')
  .side-bar__contents-side
    .side-bar__contents-side__a
      left-sample
    .side-bar__contents-side__b
      left-goodbye
    .side-bar__contents-side__a
      left-sample
    .side-bar__contents-side__b
      left-goodbye